
{% if validlink %}

    <p>لطفا رمز جدید خود را وارد کنید</p>

    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">رمز جدید</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">تکرار رمز جدید</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value=" رمز منو عوض کن &#128522; ">
        </fieldset>
    </form>

{% else %}

    <p>این لینک معتبر نیست شاید قبلا از آن استفاده کرده اید یا زمان آن تمام شده است یک لینک دیگر در خواست کنید</p>
    <br>
    <a href={% url 'accounts:password_reset' %}>در خواست لینک جدید </a>

{% endif %}
